<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%X{correlation_id} - %X{jobName} : %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <File name="LogFile" fileName="logs/sigtran.log">
            <PatternLayout
                pattern="%X{correlation_id} - %X{jobName} : %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>

        <File name="DebugFile" fileName="logs/anonymizer_debug.log">
            <PatternLayout
                pattern="%X{correlation_id} - %X{jobName} : %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
	<File name="StatisticFile" fileName="logs/anonymizer_stat.log">
		<PatternLayout
                pattern="%X{correlation_id} - %X{jobName} : %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
	</File>	

    </Appenders>

    <Loggers>
	<Logger name="dev.ocean.anonymizer.core.StatisticWriter" level="info">
		<AppenderRef ref="StatisticFile"/>
	</Logger>
        <Root level="info">
            <AppenderRef ref="LogFile"  />
	    <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="DebugFile" level="debug" />-->
        </Root>
    </Loggers>
</Configuration>
