#s = from 3 seconds to 10 seconds;
#m = from 15 seconds to 30 seconds;
#ml = from 1 minute to 10 minutes;
#l = from 28 hours to 38 hours.

PROCESS_UNSTRUCTURED_SS_REQUEST = 10
DELETE_SUBSCRIBER_DATA = 15
PURGE_MS = 15
PROVIDE_ROAMING_NUMBER = 15
CANCEL_LOCATION = 15
SEND_AUTHENTICATION_INFO = 15
INSERT_SUBSCRIBER_DATA = 15
UPDATE_LOCATION = 15
REPORT_SM_DELIVERY_STATUS = 15
SEND_ROUTING_INFO_FOR_SM = 15
INFORM_SERVICE_CENTRE = 3
READY_FOR_SM = 3
FORWARD_SM = 60
MT_FORWARD_SM = 60
UNSTRUCTURED_SS_REQUEST = 60
UNSTRUCTURED_SS_NOTIFY = 60
ALERT_SERVICE_CENTRE = 5
SEND_ROUTING_INFO = 15
SEND_IDENTIFICATION = 3
UPDATE_GPRS_LOCATION = 15
PROVIDE_SUBSCRIBER_INFO = 15
ANY_TIME_INTERROGATION = 15
ANY_TIME_SUBSCRIPTION_INTERROGATION = 15
ANY_TIME_MODIFICATION = 15
NOTE_SUBSCRIBER_DATA_MODIFIED = 15
PREPARE_HANDOVER = 15
SEND_END_SIGNAL = 0
PROCESS_ACCESS_SIGNALLING = 0
FORWARD_ACCESS_SIGNALLING = 0
PREPARE_SUBSEQUENT_HANDOVER = 0
AUTHENTICATION_FAILURE_REPORT = 0
CHECK_IMEI = 0
RESET = 0
FORWARD_CHECK_SS_INDICATION = 0
RESTORE_DATA = 0
SEND_ROUTING_INFO_FOR_GPRS = 0
FAILURE_REPORT = 0
NOTE_MS_PRESENT_FOR_GPRS = 0
NOTE_MM_EVENT = 0
ACTIVATE_TRACE_MODE = 0
DEACTIVATE_TRACE_MODE = 0
SEND_IMSI = 0
RESUME_CALL_HANDLING = 0
SET_REPORTING_STATE = 0
STATUS_REPORT = 0
REMOTE_USER_FREE = 0
IST_ALERT = 0
IST_COMMAND = 0
RELEASE_RESOURCES = 0
REGISTER_SS = 0
ERASE_SS = 0
ACTIVATE_SS = 0
DEACTIVATE_SS = 0
INTERROGATE_SS = 0
REGISTER_PASSWORD = 0
GET_PASSWORD = 0
SS_INVOCATION_NOTIFICATION = 0
REGISTER_CC_ENTRY = 0
ERASE_CC_ENTRY = 0
MT_FORWARD_SM_VGSS = 0
PREPARE_GROUP_CALL = 0
SEND_GROUP_CALL_END_SIGNAL = 0
PROCESS_GROUP_CALL_SIGNALLING = 0
FORWARD_GROUP_CALL_SIGNALLING = 0
SEND_GROUP_CALL_INFO = 0
SEND_ROUTING_INFO_FOR_LCS = 0
PROVIDE_SUBSCRIBER_LOCATION = 0
SUBSCRIBER_LOCATION_REPORT = 0
SEND_PARAMETERS = 0
PROCESS_UNSTRUCTURED_SS_DATA = 0
PERFORM_HANDOVER = 0
PERFORM_SUBSEQUENT_HANDOVER = 0
PROVIDE_SIWFS_NUMBER = 0
SIWFS_SIGNALLING_MODIFY = 0
NOTE_INTERNAL_HANDOVER = 0
NOTE_SUBSCRIBER_PRESENT = 0
ALERT_SERVICE_CENTER_WITHOUT_RESULT = 0
TRACE_SUBSCRIBER_ACTIVITY = 0
BEGIN_SUBSCRIBER_ACTIVITY = 0